@import "./shared-css.scss";

* {
  color: $light-gray
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.08);
  z-index: 999;
  .logo {
    order: 2;
    .logo-title {
      font-size: 2rem;
      font-weight: 600;
      color: $dark-gray
    }
  };
  #nav-checkbok {
    display: none;
    &:checked ~.nav {
      transform: scale(1, 1);
      opacity: 1;
      .menu {
        opacity: 1;
        transition: opacity 0.8s
      }
    }
  };
  label {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .hamburger {
      width: 24px;
      height: 2px;
      background: rgb(193, 151, 151);
      &::after, &::before {
        content: '';
        width: 24px;
        height: 2px;
        background: rgb(193, 151, 151);
        position: absolute;
      };
      &::after {
        top: 22px;
      };
      &::before {
        bottom: 22px;
      };
    };
  };
  .shopping-cart {
    order: 3;
    position: relative;
    img {
      height: 22px;
    };
    .cart-items-count {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%)
    }
  };
  .nav {
    background: #fff;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.2s;
    .menu {
      opacity: 0;
      margin-bottom: 0.5rem;
      .menu-link {
        color: $light-gray;
        &:hover {
          color: $dark-gray;
        }
      }
    }
  }
}

main {
  padding-top: 60px;
  background: $body-bg;
}

footer {
  padding-top: 30px;
  background: #868686;
  .footer-top,
  .footer-bottom {
    display: flex;
    justify-content: center;
    .footer-item {
      padding: 5px 10px;
    }
    .footer-link {
      font-size: 13px;
      color: #e7e7e7;
    }
  }
  color: #fff;
  .copyright {
    padding: 10px 0;
    text-align: center;
    .copyright-word {
      font-size: 12px;
      color: #000;
      letter-spacing: 1.5px;
    }
  }
}