/* basic setting */
$body-bg: #fff;
$body-color: #18253d;
$white: #fff;
$dark-gray: #70421a;
$light-gray: #706e6c;
// $line-color: #666666;
$line-color: rgba(0, 0, 0, 0.1);


@mixin dfSet($justify,$align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
